<!DOCTYPE html>
<html>
<head>
<meta content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" name="viewport" />
<title>Model Master</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
<!--  jQuery 1.7+  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">

<!-- Default Theme -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">

<!-- Include js plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>


</head>

<body>
<div class="wapper">

<div class="header">
<div class="header-in">
	<div class="header-in-left">
		<a href="home.html"><img src="images/logo.png" /></a>
	</div>
	<div class="header-in-right">

		<div class="menu">
			<ul>
				<li><a href="#" class="active">Home</a></li>
				<li><a href="index.html">Lesson</a></li>
				<li><a href="about-us.html">About Us</a></li>
				<li><a href="contact-us.html">Contact Us</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</div>

		<div class="topnav">
			<div id="myLinks" style="display:none;">
				<ul>
					<li><a href="home.html">Home</a></li>  
					<li><a href="index.html">Lesson</a></li>
					<li><a href="about-us.html">About Us</a></li>
					<li><a href="contact-us.html">Contact Us</a></li>
					<li><a href="#">Login</a></li>
				</li>
			</ul>
		</div>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">
			<i class="fa fa-bars"></i>
		</a>
	</div>

</div>
</div>
</div>

<div class="home-blog">


<div class="home-blog-banner-block">
<div class="home-banner">
	<div class="home-banner-left"><img src="images/shit.png" /></div>
	<div class="home-banner-right">
		<span class="home-banner-title">Master Financial Modeling</span> 
		<p>Learn how to build a 3-statement financial model. You'll learn how to
			go from a blank spreadsheet to a fully functioning model. You'll build
			an Income Statement, a Balance Sheet, and a Cashflow statement. You'll
		learn how these statements relate to each other and how each one works.</p>
		<div class="home_viewall_btn_block"><div class="home_learn_btn">Start Learning Now</div></div>
	</div>	
</div>
</div>

<div class="home_service_block">
<div class="home_service_block_inner">
	<div class="home_service_block_title">A better way to learn modeling</div>
	<div class="service_block">
		<div class="ser__count"><span>1</span></div>
		<div class="service_block_description">
			<div class="service_block_des">
				<div class="ser_heading">Step by Step Instructions</div>
				<div class="ser_des">Get step by step
					guidance to walk you through each step of building the model. You'll
					learn every part of the process". The picture should be from the lesson
				tab with one of the instructions.</div>
			</div>
			<div class="service_block_img">
				<img src="images/ser1.png"/>
			</div>
		</div>
	</div>	
	<div class="service_block active">
		<div class="ser__count"><span>2</span></div>
		<div class="service_block_description">
			<div class="service_block_des">
				<div class="ser_heading">Real time feedback</div>
				<div class="ser_des">Get feedback on your
					model as you're building. You don't need to wait until the end to track
					down a mistake". The picture should be one of the lessons with an error
				message.</div>
			</div>
			<div class="service_block_img">
				<img src="images/ser2.png"/>
			</div>
		</div>
	</div>	
	<div class="service_block">
		<div class="ser__count"><span>3</span></div>
		<div class="service_block_description">
			<div class="service_block_des">
				<div class="ser_heading">Track your progress</div>
				<div class="ser_des">Keep track of your
					progress and learning so you can know which areas you need to improve".
					Picture should be of the streak tracker from the profile page. I'm
				envisioning something like the GitHub contribution tracker.</div>
			</div>
			<div class="service_block_img">
				<img src="images/ser3.png"/>
			</div>
		</div>
	</div>	
	<div class="service_block_btn"><i class="fa fa-arrow-down"></i></div>
</div>	

</div>

<div class="home_new_future_block">
<div class="home_new_future_block_title">Lessons</div>
<div class="home_new_future_main_block">
	<div class="new_future_block">
		<div class="home_new_future_block_img">
			<img src="images/future_img1.jpg"/>
			<div class="home_new_future_block_des">
				<div class="fotureblock_title">Simple
				3-Statement Financial Model</div>
				<div class="home_new_future_des">Learn the basics of the 3 financial
				statements and build a projection for a software company.</div>
				<div class="home_new_future_btn">Start
				Learning</div>
			</div>
		</div>
	</div>
	<div class="new_future_block">
		<div class="home_new_future_block_img">
			<img src="images/future_img2.jpg"/>
			<div class="home_new_future_block_des">
				<div class="fotureblock_title">Simple LBO Model <br>(Coming soon)</div>
				<div class="home_new_future_des">Learn how
				to build a leveraged buy out model and estimate your projected returns.</div>

			</div>
		</div>
	</div>
	<div class="new_future_block">
		<div class="home_new_future_block_img">
			<img src="images/future_img3.jpg"/>
			<div class="home_new_future_block_des">
				<div class="fotureblock_title">More to Come</div>
				<div class="home_new_future_des">Have a suggestion for courses
				you want to see, go to our contact page and let us know.</div>
				<div class="home_new_future_btn">Make a recommendation </div>
			</div>
		</div>
	</div>
</div>

<div class="home_viewall_btn_block"><div class="home_viewall_btn">view all</div></div>
</div>

<div class="testimonial_block_main">
<div class="testimonial_block_main_title">What Our Customer Says</div>
<div  id="owl-example" class="testimonial_block owl-carousel" >
	<div class="testimonial_block_inner">
		<div class="testimonial_block_inner_shadow">
			<img src="images/tm1.jpg"/>
			<div class="auth_name">Buford Matos</div>
			<div class="deg_name">Private Equity Associate</div>
			<div class="testimonial_block_des">I
				came from a consulting background and needed to learn financial modeling
			for my job. This is exactly the tool I wish had existed when I had to learn.</div>
		</div>
	</div>

	<div class="testimonial_block_inner">
		<div class="testimonial_block_inner_shadow">
			<img src="images/tm2.jpg"/>
			<div class="auth_name">anissa rose</div>
			<div class="deg_name">Defense Contractor Financial Analyst</div>
			<div class="testimonial_block_des">It's fantastic that
				someone is actually fixing this problem...breaking in to any more
				commercial finance jobs without proper modeling experience is a real
			concern.</div>
		</div>
	</div>

	<div class="testimonial_block_inner">
		<div class="testimonial_block_inner_shadow">
			<img src="images/tm1.jpg"/>
			<div class="auth_name">Rosss Tater</div>
			<div class="deg_name">Private Equity Associate</div>
			<div class="testimonial_block_des">I
				came from a consulting background and needed to learn financial modeling
			for my job. This is exactly the tool I wish had existed when I had to learn.</div>
		</div>
	</div>

	<div class="testimonial_block_inner">
		<div class="testimonial_block_inner_shadow">
			<img src="images/tm2.jpg"/>
			<div class="auth_name">anissa rose</div>
			<div class="deg_name">Defense Contractor Financial Analyst</div>
			<div class="testimonial_block_des">It's fantastic that
				someone is actually fixing this problem...breaking in to any more
				commercial finance jobs without proper modeling experience is a real
			concern.</div>
		</div>
	</div>
	<div class="testimonial_block_inner">
		<div class="testimonial_block_inner_shadow">
			<img src="images/tm1.jpg"/>
			<div class="auth_name">Buford Matos</div>
			<div class="deg_name">Private Equity Associate</div>
			<div class="testimonial_block_des">I
				came from a consulting background and needed to learn financial modeling
			for my job. This is exactly the tool I wish had existed when I had to learn.</div>
		</div>
	</div>

	<div class="testimonial_block_inner">
		<div class="testimonial_block_inner_shadow">
			<img src="images/tm1.jpg"/>
			<div class="auth_name">Rosss Tater</div>
			<div class="deg_name">Private Equity Associate</div>
			<div class="testimonial_block_des">I
				came from a consulting background and needed to learn financial modeling
			for my job. This is exactly the tool I wish had existed when I had to learn.</div>
		</div>
	</div>
</div>

</div>







<div class="footer">
<!-- Begin Mailchimp Signup Form -->
<link
href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css"
rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px
		Helvetica,Arial,sans-serif; width:100%;}
/* Add your own Mailchimp form style overrides in your site stylesheet
or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of
your HTML file. */
</style>
<div id="mc_embed_signup" class="signup-box">
<form
action="https://gmail.us5.list-manage.com/subscribe/post?u=5424cd9dcd7373ef5fba31bcf&amp;id=90de1a44aa"
method="post" id="mc-embedded-subscribe-form"
name="mc-embedded-subscribe-form" class="validate" target="_blank"
novalidate>
<div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Sign up
for our mailing list</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
placeholder="Enter Email address" required>
<!-- real people should not fill this in and expect good things - do not
remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;"
aria-hidden="true"><input type="text"
name="b_5424cd9dcd7373ef5fba31bcf_90de1a44aa" tabindex="-1" value=""></div>

<div class="clear"><input type="submit" value="Subscribe"
name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</div>
</form>
</div>

<!--End mc_embed_signup-->


<div class="contact_us">
<label>contact us</label>
<div class="footer_contact_link">
<a href=""><i class="fa fa-phone"></i>(805)315-1072</a>
</div>
<div class="footer_contact_link">
<a href="mailto:contact@modelmaster.io" target="_top"><i class="fa fa-envelope-o" aria-hidden="true"></i>contact@modelmaster.io
</a>
</div>
<div class="footer_contact_link">
<a href="https://modelmaster.io/"><i class="fa fa-globe"></i>modelmaster.io</a>
</div>
</div>
<div class="copyright">
@copyright 2019 Model Master.
</div>
</div>



</div>
</div>
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
<script>
function myFunction() {
var x = document.getElementById("myLinks");
if (x.style.display === "block") {
x.style.display = "none";
} else {
x.style.display = "block";
}
}

$('.owl-carousel').owlCarousel({
loop:true,
nav:true,
items:3,
dots:false,
slideSpeed: 300,
responsiveClass:true,
responsive:{
0:{
	items:1
},
768:{
	items:2
},
991:{
	items:3
}

}

})

</script>

</body>
</html>